name: Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  publish-bins:
    name: publish-bins
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            bin: sawit
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            bin: sawit
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            bin: sawit.exe
          - os: macos-latest
            target: x86_64-apple-darwin
            bin: sawit
          - os: macos-latest
            target: aarch64-apple-darwin
            bin: sawit

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: ${{ matrix.target }}

    - name: Build
      run: cargo build --release --target ${{ matrix.target }}

    - name: Rename and Upload
      shell: bash
      run: |
        BIN_NAME=${{ matrix.bin }}
        TARGET_NAME=${{ matrix.target }}
        # Rename binary to include target for binstall to find it
        cp target/$TARGET_NAME/release/$BIN_NAME ./sawit-$TARGET_NAME${BIN_NAME#sawit}
    
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: sawit-${{ matrix.target }}*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}